{% extends '@EkynaAdmin/Entity/Crud/create.html.twig' %}

{% block actions %}{% endblock %}

{% block main %}
    <div class="alert alert-info">
        <p>{{ 'renewal.message.order_creation'|trans({}, 'EkynaSubscription') }}</p>
    </div>
    {% if pending_subscription %}
        <div class="alert alert-danger">
            <p>
                <span class="fa fa-warning"></span>
                {{ 'renewal.message.pending_subscription'|trans({}, 'EkynaSubscription') }}
            </p>
        </div>
    {% endif %}
    {% if renewal.subscription.plan.forwardPlan is not null %}
        <div class="alert alert-warning">
            <p>{{ 'renewal.message.forwarding'|trans({'{plan}': renewal.subscription.plan.forwardPlan}, 'EkynaSubscription') }}</p>
        </div>
    {% endif %}
    {{ parent() }}
{% endblock main %}
