{% extends '@EkynaAdmin/Entity/Crud/delete.html.twig' %}

{% block title %}
    <h1>{{ (context.config.transPrefix ~ '.header.cancel')|trans({'%name%': resource}, context.config.transDomain)|raw }}</h1>
{% endblock title %}

{% block actions %}{% endblock %}
